* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "NotoSans";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/NotoSansKR-Regular.otf") format("truetype");
}

html {
    color: #333333;
    font-family: "NotoSans";
    font-size: 16px;
    letter-spacing: 0;
}
