* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "NotoSans";
    font-weight: normal;
    font-style: normal;
    src: url("./font/NotoSansKR-Regular.otf") format("truetype");
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: #a9a9a9;
}

html {
    color: rgb(52, 58, 63);
    font-family: "NotoSans";
    font-size: 10px;
    letter-spacing: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 249, 250);
    height: 100vh;
}

body.--modal-Active {
    overflow: hidden;
}

a {
    color: rgb(52, 58, 63);
    text-decoration: none;
}

.header {
    width: 1376px;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.header__logo {
    font-size: 2.4rem;
    animation: welcomeLogo 1s infinite 0.5s alternate
    /* animation-duration: 1s;
    animation-name: welcomeLogo;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    }

@keyframes welcomeLogo {
    from {
        letter-spacing: -1.2rem;
    }
    to {
        letter-spacing: 1rem;
    }
}

.header__icon-section {
    display: flex;
    align-items: center;
}

.header__search-icon {
    background-image: url(../asset/icon/searchIcon.svg);
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1.2rem;
}

.header__posting-icon {
    border: 0.1rem solid rgb(52, 58, 63);
    border-radius: 1rem;
    background-color: white;
    height: 3rem;
    padding: 0 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header__posting-icon:hover {
    background-color: yellowgreen;
    color: white;
    border: 0.1rem solid yellowgreen
}

.header__user-section {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
}

.header__user-icon {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
    background-image: url(../asset/post/user2.png);
}

.header__more-icon {
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../asset/icon/arrowDropDown.svg);
    margin-left: 0.5rem;
}

.main-container {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    width: 1375px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__tabs {
    display: flex;
    align-items: flex-start;
}

.nav__trending,
.nav__recent {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    width: 10rem;
    justify-content: center;
    color: rgb(134, 142, 150);
}

.nav__trending.--focused {
    color:rgb(52, 58, 63);
    border-bottom: solid 0.2rem rgb(52, 58, 63);
    padding-bottom: 1rem;
}

.nav__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
}

.nav__trending .nav__icon {
    background-image: url(../asset/icon/trending.svg);
}

.nav__recent .nav__icon {
    background-image: url(../asset/post/user.png);
    background-size: contain;
}

.nav__period {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    height: 3rem;
    width: 8rem;
    justify-content: center;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px;
    border-radius: 0.4rem;
}

.nav__period .nav__icon {
    margin: 0;
    background-image: url(../asset/icon/arrowDropDown.svg);
    cursor: pointer;
}

.nav__period .nav__dropdown {
    transform-origin: top right;
    transform: scale(0);
    position: absolute;
    top: 100%;
    right: 0;
    width: 200%;
    background-color: rgb(146, 194, 49);
    margin-top: 1rem;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px;
    border-radius: 0.2rem;
    z-index: 5;
    transition: transform 0.5s ease-out;
}

.nav__period .nav__dropdown.--active {
    transform: scale(1);
}

.nav__period .nav__dropdown > p {
    text-align: start;
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__period .nav__dropdown > p + p {
    border-top: 1px solid rgb(241, 243, 245);
}

.nav__period .nav__dropdown > p.--active {
    color: white;
}

.nav__more-icon {
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../asset/icon/moreIcon.svg);
}

.posts {
    margin: 2rem -1rem 0 -1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.post__main-wrap {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    margin: 1rem;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}

.post:hover {
    transform: translateY(-10px);
    box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.post__main-img {
    width: 100%;
    height: 16.7rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.post__main {
    padding: 1rem;
}

.post__title {
    height: 2.4rem;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 0.25rem;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
}

.post__desc {
    font-size: 1.3rem;
    line-height: 1.5;
    height: 4rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.post__info-section {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 1rem;
}

.post__separator {
    margin: 0 0.25rem;
}

.post__writer-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: solid 0.1rem rgb(248, 249, 250);
}

.post__writer {
    display: flex;
    align-items: center;
}

.post__profile {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../asset/post/user2.png);
    object-fit: cover;
    margin-right: 0.3rem;
    border-radius: 50%;
}

.post__id {
    margin-left: 0.3rem;
    font-weight: bold;
}

.post__like {
    display: flex;
    align-items: center;
}

.post__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
    background-image: url(../asset/icon/likeOn.svg);
    object-fit: cover;
    background-repeat: no-repeat;
}

.modal__bg {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(146, 194, 49, 0.5);
}

.modal__bg.--active {
    visibility: visible;
}

.modal__bg .post {
    transition: none;
    width: 40rem;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20rem 0 0 -20rem;
}

.modal__bg .post:hover {
    transform: none;
}

.modal__bg .post .post__desc {
    height: 8rem;
}

@media (max-width: 1440px) {
    .header,
    .main-container {
        width: 1024px;
    }

    .posts {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1024px) {
    .header,
    .main-container {
        width: calc(100% - 4rem);
    }

    .posts {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .posts {
        grid-template-columns: repeat(1, 1fr);
    }
}